/* Estilos Gerais */
* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;

}

body {
    background-color: #f4f4f4;
}

:root {

	/*========== Colors ==========*/
	--hue: 152;
	--first-color:#79857f;
	--first-color-alt: #818181;
	--first-color-light: hsl(var(--hue), 8%, 20%);
	--first-color-lighten: #ebebeb;
	--title-color: hsl(var(--hue), 4%, 95%);
	--text-color: hsl(var(--hue), 4%, 75%);
	--text-color-light: hsl(var(--hue), 4%, 55%);
	--body-color: hsl(var(--hue), 8%, 12%);
	--container-color: hsl(var(--hue), 8%, 16%);

}
/* Side NavBar */

nav.menu-lateral {
    width: 40px;
    height: 100%;
    background-color: #333;
    padding: 40px 0 40px 1%;
    box-shadow: 3px 0 0 var(--first-color);

    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
    transition: .5s;
}

nav.menu-lateral:hover {
    width: 400px;
    height: 100%;
    padding: 40px 0 40px 1%;
}

.btn-expandir {
    width: 100%;
    padding-left: 2px;
}

.btn-expandir > i {
    color: #fff;
    font-size: 24px;
    cursor: pointer;
}

ul {
    height: 100%;
    list-style-type: none;
}

ul li.item-menu a {
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    padding: 20px 4%;
    display: flex;
    margin-bottom: 20px;
    line-height: 40px;
}

ul li.item-menu {
    transition: .5s;
}

ul li.item-menu:hover {
    background: var(--first-color);
}

ul li.item-menu a .txt-link {
    margin-left: 20px ;
}

ul li.item-menu a .icon > i{
    font-size: 24px;
}

/* Conteúdo Principal */
.main-content {
    margin-left: 50px;
    padding: 20px;
}

.ticket-section {
    background-color: white;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Formulário de Novo Ticket */
#new-ticket-form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: auto;
}

#new-ticket-form label {
    margin-bottom: 8px;
}

#new-ticket-form input,
#new-ticket-form textarea {
    padding: 10px;
    margin-bottom: 16px;
}

#new-ticket-form button {
    background-color: #333;
    color: white;
    padding: 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#new-ticket-form button:hover {
    background-color: #555;
}

/* Rodapé */
.footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
}
